/* header center*/
.textcenter {
    text-align: center;

}

/* haeder style*/
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid;
}

/*english letter*/
.letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 25px 10px;
    font-style: normal;
}

/* chinese */
.chart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 5px;
    font-style: normal;
}

/* fbi warning */
.fbi {
    margin: 10px 20px;
    text-align: center;
}

/* rmove the page margin */
body {
    margin: 0px;
}

/* article column */
article {
    margin: 10px 30px;
}

/* fbi box*/
section {
    margin: 20px 0px;
    border-bottom: solid;
    padding: 5px 15px;

}


.page {
    margin: 30px;
}

/* back tap text */
.back {

    text-decoration: none;
    color: black;

}

/* back tap container*/
.tap {
    background-color: lightblue;
    text-align: center;
    margin-top: 10px;
}


/* home page top*/
.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

}

/* small image*/
.simg {
    width: 345.6px;
    height: 460.8px;
    margin: 10px
}

/* intro page*/
.intro {
    padding: 10px;
    border: 5px dotted pink;
    margin: 10px
}

/* flexible box*/
.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

/* bookmark calendar*/
.calendar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 280px;
    height: 240px;
    padding: 10px;
    border: solid yellowgreen;
    margin: 10px
}

/* bookmark month*/
.week {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 5px;
    margin-bottom: 0px;
}

/* book mark days*/
.markdate {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: rgb(100, 212, 100);
    border-radius: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* not writing bolg*/
.mark0 {
    background-color: gray;
    color: black;
}

/* footer */
footer {
    text-align: center;
    border-top: solid;
    padding: 5px 0px 10px 0px;

}

/* time tag */
time {
    text-align: left;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

