/* header center*/
.textcenter {
    text-align: center;

}

/* haeder style*/
header.head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid;
}

/*english letter*/
p.letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 25px 10px;
    font-style: normal;
}

/* chinese */
p.chart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 5px;
    font-style: normal;
}

/* fbi warning */
h1.fbi {
    color: white;
    background-color: red;
    margin: 10px;
    text-align: center;
}


/* back tap text */
a.back {

    padding-bottom: 3px;
    text-decoration: none;
    color: black;
}

/* back tap container*/
div.tap {

    background-color: lightgray;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

/* month box single*/
div.flex-navsingle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* month box  multiple*/
div.flex-navmultiple {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* small image*/
img.simg {
    width: 345.6px;
    height: 460.8px;
    margin: 10px
}

/* intro page
div.intro {
    padding: 10px;
    border: 5px dotted gray;
    margin: 10px;
    border-radius: 10px;

}
*/
/* flexible box*/
div.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

/* bookmark calendar*/
div.calendar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 280px;
    height: 240px;
    padding: 10px;
    border: solid yellowgreen;
    margin: 10px;
    border-radius: 10px;
}

a.headline {
    font-weight: bolder;
    font-size: 30px;
    margin: 0px 5px;
    text-decoration: none;
    font-style: normal;

}

div.headlinebox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 280px;
    height: 240px;
    padding: 30px 10px 24px 10px;
    border: solid lightgray;
    margin: 20px;
    border-radius: 10px;
}

/* bookmark month*/
a.month {
    display: flex;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: rgb(100, 212, 100);
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* bookmark month*/
div.week {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 5px;
    margin-bottom: 0px;
}

span.noday {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: white;
}

/* book mark days*/
a.markdate {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: rgb(100, 212, 100);
    border-radius: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* not writing bolg*/
a.mark0 {
    background-color: gray;
    color: black;
}



/* footer */
footer {
    text-align: center;
    border-top: solid;
    padding: 5px 0px 10px 0px;

}

/* article column */
article {
    margin: 10px 30px;
}

/* section box*/
section {
    margin: 20px 0px;
    border-bottom: solid;
    padding: 5px 15px;

}

/* time tag */
time {
    text-align: left;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

/* rmove the page margin */
body {
    margin: 0px;
}